{% extends 'index.html' %}

{% block content %}
<div class="wrapper row3">
  <main class="hoc container clear"> 
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post a reply</button>
  </form>

  <div id="comments">
    <h2>Discussion</h2>
    <ul>
        {% for post in topic.get_last_ten_posts %}
        <li>
            <article>
              <header>
                <figure class="avatar"><img src="/static/img/avatar.png" alt=""></figure>
                <address>
                By <a href="#">{{ post.created_by.username }}</a>
                </address>
                <p>Created At: {{ post.created_at }}</p>
              </header>
              <div class="comcont">
                <p>{{ post.get_message}}</p>
              </div>
            </article>
          </li>
        {% endfor %}
    </ul>
    
  </div>
</main>
</div>

{% endblock %}